.filter-wrapper {
  .filters-title {
    font-size: 10px;
    color: white;
  }
  .filter-button.p-highlight {
    background-color: darkslategrey !important;
  }

  .filter-button, .file-upload {
    border-radius: 0;
  }

  .file-upload {
    > .p-fileupload-buttonbar {
      border-radius: 0;
    }

    > .p-fileupload-content {
      border-radius: 0;
    }
  }
  display: flex;
  justify-content: center;
}

.p-progress-spinner {
  display: flex;
}