body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #20262e;
}

.p-menubar {
  border-radius: 0;
  font-size: 14px;
  * {
    font-size: 14px;
  }
  & .p-submenu-list {
    width: max-content;
    min-width: 12.5rem;
  }
}